

div.container {
    width: 100%;
    border: 1px solid gray;
}
 
header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
 
article {
    margin-left: 300px;
    border-left: 0px ;
    margin-right: 300px;
    border-right: 0px ;
    padding: 1em;
    overflow: hidden;
}

.box { 
    border: 1px solid black; 
    display: flex;
}

p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

